<!DOCTYPE html>
<html>
  <head>
    <title>UnivApp</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Courses</a></li>
        <li><a href="#!">Enrollments</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Courses</a></li>
        <li><a href="#!">Enrollments</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>

       <nav>
          <div class="container">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Tech University</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#">Courses</a></li>
                <li><a href="#">Enrollments</a></li>
                 <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Acount<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
            </div>
          </div>
         
          <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Courses</a></li>
            <li><a href="#">Enrollments</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Acount<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
         
       </nav>
    </header>
     
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Tech University</h5>
            <p class="grey-text text-lighten-4">The future of development training</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Information</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Tech University
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
      </div>
    </footer>

  </body>
</html>
